
.align-center-middle {
    align: center middle;
}

CreateNewRouteScreen {
    margin: 4 8;
    border: ascii $accent;
    layout: grid;
    grid-rows: 3;
    grid-gutter: 1;
}

CreateNewRouteScreen Button {
    margin: 0 1;
}

RouteWidget {
    height: 100%;
    width: 100%;
    margin: 1 1;
}

RouteHeaderWidget {
    layout: horizontal;
    height: auto;
}

RouteHeaderWidget Label {
    width: 1fr;
}

ConnectionTableWidget {
    margin: 1 0;
}

LoadingRoutingScreen {
    
}

ConnectionDetailsScreen {
    layout: horizontal;
}

ConnectionOverviewWidget {
    margin: 1 1;
    height: 100%;
    width: 1fr;
}

ConnectionSectionsWidget {
    margin: 1 1;
    height: 100%;
    width: 2fr;
}

ConnectionSectionsWidget DataTable {
    height: 100%;
}

ConnectionNotDirectInfoWidget {
    border: heavy red;
    height: auto;
    width: 100%;
}

ConnectionNotDirectInfoWidget TextLog {
    height: auto;
}
